body
{
  margin: 0;
  padding: 0;
}
.preloader
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: #000; */
  transition: 1s;
}
.preloader:before
{
  content:'';
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #000;
  transition: 1s;
}
.preloader.complete:before
{
  left: -50%;
}
.preloader:after
{
  content:'';
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #000;
  transition: 1s;
}
.preloader.complete:after
{
  right: -50%;
}
.loader{
  -webkit-perspective: 120px;
  -moz-perspective: 120px;
  -ms-perspective: 120px;
  perspective: 120px;
  width: 100px;
  height: 100px;
}
.preloader.complete{
  opacity:0;
  visibility: :hidden;
}
