@font-face {
    font-family: MyFont;
    src: url(digital-7.ttf);
}

body {
    background-color: rgb(240, 240, 245);
}

.container {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    text-align: center;
    padding: 12px;
    background-color: rgb(11, 11, 95);
    border: 2px solid black;
    font-family: sans-serif;
    box-shadow: 0 0 5px 3px #999999;
}

.info {
    font-family: MyFont;
    font-size: 140px;
}